* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #3a4663;
  font-family: "League Spartan", sans-serif;
}
.container {
  width: 540px;
  height: 708px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 90px;
  margin-top: 40px;
}

/* HEADER */
.heder_div {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.logo {
  color: #fff;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.533px;
}

.header_h3 {
  color: #fff;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

/* WINDOW */

.window {
  margin-top: 35px;
  width: inherit;
  height: 128px;
  border-radius: 10px;
  background: #181f33;
  display: flex;
  align-items: center;
}
.window_calc {
  width: inherit;
  height: inherit;
  border: 0;
  list-style: none;
  outline-color: none;
  outline-style: none;
  background-color: inherit;
  border-radius: inherit;
  color: #fff;
  text-align: right;
  font-family: "League Spartan",sans-serif;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.933px;
}

.calc_elementary {
  border-radius: 10px;
  background: #242d44;
}

.numbers {
  margin-top: 25px;
  height: 480px;
  display: grid;
  padding: 32px;
  border-radius: 10px;
  background: #242d44;
  grid-template-columns: repeat(4, 4fr);
}
.buttons {
  width: 101px;
  height: 64px;
  flex-shrink: 0;
  color: #434a59;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.667px;
  border: 0;
  border-radius: 10px;
  background: #eae3dc;
  cursor: pointer;
  box-shadow: 0px -4px 0px 0px #b3a497 inset;
}
.buttons:hover {
  border-radius: 10px;
  background: #fffffe;
  transition: 0.3s;
  box-shadow: 0px -4px 0px 0px #b3a497 inset;
}
.delete_btn {
  width: 101px;
  height: 64px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.467px;
  border: 0;
  border-radius: 10px;
  background: #647198;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
  cursor: pointer;
}
.delete_btn:hover {
  transition: 0.3s;
  border-radius: 10px;
  background: #a2b2e1;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
}
.equal {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  width: inherit;
  height: 80px;
  gap: 20px;
}
.equal_btn {
  color: #fff;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.467px;
  width: 227px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #647198;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
}
.equal_btn2 {
  color: #fff;
  text-align: center;
  font-family: "League Spartan";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.467px;
  width: 227px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #d03f2f;
  box-shadow: 0px -4px 0px 0px #93261a inset;
}
